body{
font-family: 'Fjalla One', sans-serif;
background-color: #c2c2c2;
}

#first{
  margin-left: 60%;
  margin-top: 20%;
}

#second{
  margin-left: -3.5%;
  margin-top: 10.4%;
  animation: k 4s forwards;
}

@keyframes k {
  0% { transform: translateY(0%); }
  100% { transform: translateY(97%);}
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
}

.firstname{
  margin-top: 37%;
}





.css-typing p {
  font-size: 90px;
  white-space: nowrap;
  overflow: hidden;
}
.css-typing p:nth-child(1) {
  width: 4.2em;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width: 4.2em;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    border: none;
  }
}
