* {
    box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
    /* margin:0; */
    width:97.3%;
    height: 100%;
    align-items: center;
}

/* Word column */
.leftcolumn {
    float: left;
    width: 95%;
    height: 100%;
}

/* Emoji column */
.rightcolumn {
    float: left;
    width: 5%;
    height: 100%;
    margin-top: 10%;
    position: relative;
}

img {
    width:80px;
    height: 80px;
    padding: 15px;
    position: sticky;
}

#word {
     margin-top: 15%;
     font-weight: bold;
     font-size: 70px;
     text-align: center;
     font-family: 'Montserrat', sans-serif;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* .footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  /* margin-bottom: 2%; */
  /* float: right; */
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Montserrat', sans-serif;
} */

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, {
        width: 95%;
        padding: 0;
    }
    .rightcolumn{
      width: 5%;
    }
}

.emotionbutton{
  border: none;
  background-color: inherit;
}
.emotionbutton:hover{
  cursor: pointer;
  border: none;
}

img:hover{
  width:105px;
  height:105px;
}

#input{
  width: 96.5%;
  height: 44px;
  border-color: black;
  border-width: 3px;
  float: left;
  position: fixed;
  bottom: 0;
}

#submit{
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 4px;
  background-color: lightgrey;
  padding: 10px 24px;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  margin-left: 93.5%;
}



.excited{
  animation-name: excited;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
}

@keyframes excited{
  0%   {font-size: 70px; opacity: 0.2;}
  50% {font-size: 200px; text-shadow: 8px 12px 12px rgba(51, 51, 51, 0.8);
  color: rgba(255,255,255,0); opacity: 0.8; color: #ffff00;}
  100% {font-size: 150px; color: #ffff00; opacity: 0.8;}
}

.sadthirdtolastletter{
  animation-name: sadthirdtolastletter;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@keyframes sadthirdtolastletter {
  0%   {font-size: 70px;}
  100% {font-size: 50px; color: #343e44;}
}

.sadsecondtolastletter{
  animation-name: sadsecondtolastletter;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes sadsecondtolastletter {
  0%   {font-size: 70px;}
  100% {font-size: 40px; color: #5c6c76;}
}

.sadlastletter{
   animation-name: sadlastletter;
   animation-duration: 1s;
   animation-fill-mode: forwards;
}
@keyframes sadlastletter {
    0%   {font-size: 70px;}
    100% {font-size: 20px; color: #849baa;}
}



.angry{
  animation-name: angryletters;
  animation-duration: .4s;
  animation-fill-mode: forwards;
    /* &:hover {
      -webkit-animation-name:              shake;
      -webkit-animation-duration:          0.8s;
      -webkit-animation-iteration-count:   infinite;
      -webkit-animation-timing-function:   linear;
      -webkit-transform-origin:            50% 100%;
    } */
}
@keyframes angryletters{
  0% {font-size: 70px;}
  50% {font-size: 200px; color: darkred; text-transform: uppercase; text-shadow: 10px 5px 10px darkred;}
  100% { font-size: 200px; color: red; text-transform: uppercase; text-shadow: 10px 5px 10px red;}
}

/* @-webkit-keyframes shake {
  0%  { -webkit-transform:     translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform:     translate(-1px, -2px) rotate(-2deg); }
  20% { -webkit-transform:     translate(-3px, 0px) rotate(3deg); }
  30% { -webkit-transform:     translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform:     translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform:     translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform:     translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform:     translate(2px, 1px) rotate(-2deg); }
  80% { -webkit-transform:     translate(-1px, -1px) rotate(4deg); }
  90% { -webkit-transform:     translate(2px, 2px) rotate(0deg); }
  100%{ -webkit-transform:     translate(1px, -2px) rotate(-1deg); }
 } */

/* @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
} */



.loveletter{
  animation-name: up 3s linear infinite;
  background: -webkit-linear-gradient(#c10037, #e20040, #ff4c4c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 16px #e20040;
  -webkit-animation: glow 3s linear infinite;
}

@keyframes up{
  0% {text-shadow: 0px 0px 5px #e20040;
}
55% {
  text-shadow: 0px 0px 15px #333, 0px 0px 5px gray;
}
60% {
  text-shadow: 0px 0px 15px #222, 0px 0px 25px #6f6f6f;
}
75% {
  text-shadow: 0px 0px 15px #e20040, 0px 0px 25px #ff7ca1;
}
  100% {text-shadow: 0px 0px 5px #e20040;}
}

@-webkit-keyframes glow {
  0% {
    text-shadow: 0px 0px 5px #e20040;
  }
  55% {
    text-shadow: 0px 0px 5px #333, 0px 0px 5px gray;
  }
  60% {
    text-shadow: 0px 0px 15px #222, 0px 0px 25px #6f6f6f;
  }
  75% {
    text-shadow: 0px 0px 15px #e20040, 0px 0px 25px #ff7ca1;
  }
  100% {
    text-shadow: 0px 0px 10px #e20040;
  }
}
